body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 防止滾動條出現 */
  background-color: #000;
  font-family: Arial, sans-serif;
  /* box-sizing: border-box; */
}

.game-viewport {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- 通用樣式 --- */
.page-container {
  width: 1920px;
  height: 1080px;
  position: relative;
  background-size: cover;
  background-position: center;
  transform-origin: top left;
  color: #000000;
}

.image-button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


/* --- 起始頁面 --- */
.start-page-title {
  position: absolute;
  top: 27%;
  left: 50%;
  font-size: 200px;
  transform: translate(-50%, -50%);
  font-weight:900;
}

.start-button-center {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-button-text{
  position: absolute; 
  top:45%;
  left:50%;
  font-size: 55px;
  font-weight:700;
  transform: translate(-50%,-50%);
}

/* --- 說明頁面 --- */
.sticker-text{
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 48px;
  font-weight:800;
  transform: translate(-50%,-50%);
}

.instructions-text{
  position: absolute;
  top: 48%;
  left: 57%;
  width: 60%;
  font-size: 45px;
  font-weight: 600;
  transform: translate(-50%,-50%);
  line-height: 1.5;
}

.continue-button{
  position: absolute;
  bottom: 22%;
  right: 19%;
}

/* --- 卡片頁面 --- */
.player-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 993px;
  height: 200px;
  display: flex;
  align-items: end;
  justify-content: center;
  gap:20px;
}

.player-arrow{
  margin: 10px auto 0 auto;
}

.player-content{
  height: 100%;
  position: relative;  /* ✅ 文字相對此容器置中 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-score-text{
  position: absolute;
  top:60%;
  left:50%;
  font-size: 46px;
  font-weight:800;
  transform: translateX(-50%);
}

.cards-container-grid{
  width: 1655px;
  height: 671px;
  /* width: 100vw; */
  margin-top: 20px;
  display: grid;
  justify-content: center;
  align-content:center;
  position: relative;
  left:50%;
  transform: translateX(-50%);

  /* 3 pair */
  /* grid-template-columns: repeat(3, 211px);
  grid-template-rows: repeat(2, 218px);
  gap: 16px;
  background-color:#000; */
  /* 3 pair */

  /* 4 pair */
  /* grid-template-columns: repeat(4, 211px);
  grid-template-rows: repeat(2, 218px);
  gap: 16px;
  background-color:#000; */
  /* 4 pair */

  /* 5 pair */
  /* grid-template-columns: repeat(5, 211px);
  grid-template-rows: repeat(2, 218px);
  gap: 16px;
  background-color:#000; */
  /* 5 pair */

  /* 6 pair */
  /* grid-template-columns: repeat(6, 211px);
  grid-template-rows: repeat(2, 218px);
  gap: 16px;
  background-color:#000; */
  /* 6 pair */

  /* 7 pair */
  /* grid-template-columns: repeat(7, 211px);
  grid-template-rows: repeat(2, 218px);
  gap: 16px;
  background-color:#000; */
  /* 7 pair */
  
  /* 8 pair */
  /* grid-template-columns: repeat(8, 211px);
  grid-template-rows: repeat(2, 218px);
  gap: 0px;
  background-color:#000; */
  /* 8 pair */

  /* 9 pair */
  /* grid-template-columns: repeat(6, 198px);
  grid-template-rows: repeat(3, 205px);
  gap: 16px;
  background-color:#000; */
  /* 9 pair */

  /* 10 pair */
  /* grid-template-columns: repeat(8, 198px);
  grid-template-rows: repeat(3, 205px);
  gap:10px;
  background-color:#000; */
  /* 10 pair */

  /* 11 pair */
  /* grid-template-columns: repeat(8, 198px);
  grid-template-rows: repeat(3, 205px);
  gap:10px;
  background-color:#000; */
  /* 11 pair */

  /* 12 pair */
  /* grid-template-columns: repeat(8, 198px);
  grid-template-rows: repeat(3, 205px);
  gap:10px;
  background-color:#000; */
  /* 12 pair */

  /* 13 pair*/
  /* grid-template-columns: repeat(7, 147px);
  grid-template-rows: repeat(4, 152px);
  grid-row-gap: 18px;
  grid-column-gap: 20px;
  background-color:#000; */
  /* 13 pair */

  /* 14 pair */
  /* grid-template-columns: repeat(7, 147px);
  grid-template-rows: repeat(4, 152px);
  grid-row-gap: 18px;
  grid-column-gap: 20px;
  background-color:#000; */
  /* 14 pair */

  /* 15 pair */
  /* grid-template-columns: repeat(8, 147px);
  grid-template-rows: repeat(4, 152px);
  grid-row-gap: 18px;
  grid-column-gap: 20px;
  background-color:#000; */
  /* 15 pair */

  /* 16 pair */
  /* grid-template-columns: repeat(8, 147px);
  grid-template-rows: repeat(4, 152px);
  grid-row-gap: 18px;
  grid-column-gap: 20px;
  background-color:#000; */
  /* 16 pair */

  /* 17 pair */
  /* grid-template-columns: repeat(9, 147px);
  grid-template-rows: repeat(4, 152px);
  grid-row-gap: 18px;
  grid-column-gap: 20px;
  background-color:#000; */
  /* 17 pair */

  /* 18 pair */
  /* grid-template-columns: repeat(9, 147px);
  grid-template-rows: repeat(4, 152px);
  grid-row-gap: 18px;
  grid-column-gap: 20px;
  background-color:#000; */
  /* 18 pair */

  /* 19 pair */
  /* grid-template-columns: repeat(10, 147px);
  grid-template-rows: repeat(4, 152px);
  grid-row-gap: 18px;
  grid-column-gap: 20px;
  background-color:#000; */
  /* 19 pair */

  /* 20 pair */
  /* grid-template-columns: repeat(10, 147px);
  grid-template-rows: repeat(4, 152px);
  grid-row-gap: 18px;
  grid-column-gap: 20px;
  background-color:#000; */
  /* 20 pair */
}

.card-frame{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  transform-origin: center;

  /* 3pair ~ 12pair */
  width: 100%;     
  height: 100%;

  /* 13 pair ~ 20pair*/
  /* transform: scale(0.8);  
  width: 135%;     
  height: 135%;
  margin-top: -24px;
  margin-left: -20px; */
}

/* 10 pair */
/* .card-frame:nth-child(17) {
  grid-column-start:3;
} */
/* 10 pair */
/* 11 pair */
/* .card-frame:nth-child(17) {
  grid-column-start:2;
} */
/* 11 pair */
/* 13 pair */
/* .card-frame:nth-child(22) {
  grid-column-start:2;
} */
/* 13 pair */
/* 13 pair */
/* .card-frame:nth-child(22) {
  grid-column-start:2;
} */
/* 13 pair */
/* 15 pair */
/* .card-frame:nth-child(25) {
  grid-column-start:2;
} */
/* 15 pair */
/* 17 pair */
/* .card-frame:nth-child(28) {
  grid-column-start:2;
} */
/* 17 pair */
/* 19 pair */
/* .card-frame:nth-child(31) {
  grid-column-start:2;
} */
/* 19 pair */

.card-choosed{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  height:100%;
  z-index:99;
}

.card-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.front{
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  top:-16px;
  left:-13px;
}

.flipped .front{
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.back{
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back{
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.matching-answer-frame{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.matching-answer-content{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.matching-answer-cards{
  display: flex;
  gap: 20px;
}

.matching-answer-text{
  margin: 30px 0;
  font-weight: 700;
  font-size: 36px;
}

.next-button{
  position: relative;
}

.next-button-text{
  position: absolute;
  top:3px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 45px;
  font-weight:700;
}

/* --- 分數頁面 --- */
.scores-frame{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.scores-title {
  font-size: 45px;
  font-weight: 800;
  position: absolute;
  top:19%;
  left:50%;
  transform: translate(-50%,-50%);
}

.scores-list {
  font-size: 48px;
  list-style: none;
  padding: 0;
  text-align: left;
  width: 600px;
  height: 500px;
  position: absolute;
  top:48%;
  left:50%;
  transform: translate(-50%,-50%);
}

.scores-list li {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 550px;
}

.scores-list span {
  font-weight: 800;
  margin-top: 6px;
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
}

.trophy-img{
  position: absolute;
  left: 510px;
  margin-top: -15px;
}

.scores-buttons-container {
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
}

.scores-buttons-container .image-button {
  margin: 0 30px;
}

